<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EdTech</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/styles.css">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">TutorPledge</h3>
      </div>

      <div class="jumbotron">
        <h1>TutorPledge</h1>
        <p class="lead">Donate your time! Locate a school near you and teach primary or high school students about maths, science or the humanities.</p>
        <p><a class="btn btn-lg btn-success" href="signup.html">Register</a></p>
        <p><a class="btn btn-lg btn-success" href="signin.html">Sign In</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Donate time, not money</h4>
          <p>Rather than donating money, why not donate your time? Your contribution will be direct and priceless.</p>

          <h4>Teach your subject</h4>
          <p>Match the subject you teach with your skills and education.</p>

          <h4>Search by location</h4>
          <p>Enter your postcode and find students nearby who require teaching</p>
        </div>

        <div class="col-lg-6">
          <h4>View your students' progress</h4>
          <p>The students' grades are logged and graphed on TutorPledge. This allows you to directly see the impact you're making on the students' grades! </p>

          <h4>Great for your CV</h4>
          <p>By volunteering your time to tutor students, you will gain valuable experience and employers will see that you're proactive.</p>

          <h4>Make a difference</h4>
          <p>By helping out at schools, you will contribute to making sure the students have a successful future.</p>
        </div>
      </div>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
