<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EdTech</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
  </head>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Signup</a></li>
        </ul>
        <h3 class="text-muted">Pupil Pledge</h3>
      </div>

      <div class="jumbotron" style="background-image:url('static/bg2.png');">
        <h1>Pupil Pledge</h1>
        <p class="lead">Locate a school, donate time and make a difference.</p>
        <p>

<form class="form-inline" role="form">
  <div class="form-group">
    <label class="sr-only" for="Hours">Password</label>
    <input style="height: 60px; width: 180px; font-size: 30px;" type="name" class="form-control" id="Hours" placeholder="Hours">
  </div>
  <button type="submit" class="btn btn-primary">Pledge time</button>
</form>

      </div>

      <div class="row marketing">
        <div class="col-lg-6">

          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">Donate time, not money</h4>
            </div>
            <div class="panel-body">
              Rather than donating money, why not donate your time? Your contribution will be direct and priceless.
            </div>
          </div>
          
          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">Teach your subject</h4>
            </div>
            <div class="panel-body">
              Match the subject you teach with your skills and education.           
            </div>
          </div>

          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">Search by location</h4>
            </div>
            <div class="panel-body">
              Enter your postcode and find students nearby who require teaching.           
            </div>
          </div>

        </div>

        <div class="col-lg-6">

          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">View your students' progress</h4>
            </div>
            <div class="panel-body">
              The students' grades are logged and graphed on TutorPledge. This allows you to directly see the impact you're making on the students' grades!           
            </div>
          </div>

          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">Great for your CV</h4>
            </div>
            <div class="panel-body">
              By volunteering your time to tutor students, you will gain valuable experience and employers will see that you're proactive.           
            </div>
          </div>

          <div class="panel panel-default" style="height: 150px">
            <div class="panel-heading">
              <h4 class="panel-title">Make a difference</h4>
            </div>
            <div class="panel-body">
              By helping out at schools, you will contribute to making sure the students have a successful future.           
            </div>
          </div>

        </div>
      </div>

      <h2>Recent Students</h2> 
    {% for student in obj %}

    
<div class="media well">
  <a class="pull-left" href="#">

    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date'); 
        data.addColumn('number', 'Grade');
        data.addColumn('number', 'UK avg.');
        data.addRows([
        {% for AverageGrade in student.AverageGrades %}
        [new Date("{{AverageGrade.Date}}"), {{AverageGrade.Grade}}, 60],
        {% endfor %}
        ]);
        // Create and draw the visualization.
        new google.visualization.LineChart(document.getElementById('visualization-{{student.id}}')).
            draw(data, {curveType: "function",
                        vAxis: {title: "Grade"},
                        hAxis: {title: "Date", format: 'yyyy'},
                        width: 350, height: 200,
                        vAxis: {maxValue: 10}}
                );
      }
      google.setOnLoadCallback(drawVisualization);
    </script>
    <div id="visualization-{{student.id}}" style=""></div>

  </a>
  <div class="media-body">
      <h4 class="media-heading">
        Classrooom name: {{ student.Name }}, Subject: {{ student.Subject }} 
    </h4>
    {{ student.Description }}
  </div>
</div>


    {% endfor %}

          <!--
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">Student Signup</h2>
            </div>
            <div class="panel-body">
              -->
            <h2>Student Signup</h2>
            <div class="media well">

              <form class="form-horizontal" role="form" action="/students" method="post">

                <div class="form-group">
                  <label for="Name" class="col-lg-3 control-label">Name</label>
                  <div class="col-lg-9">
                    <input name="Name" class="form-control" id="Name" placeholder="Name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="SchoolName" class="col-lg-3 control-label">Name of School</label>
                  <div class="col-lg-9">
                    <input name="SchoolName" class="form-control" id="SchoolName" placeholder="Name of School">
                  </div>
                </div>

                <div class="form-group">
                  <label for="NumberOfStudents" class="col-lg-3 control-label">Number of Students</label>
                  <div class="col-lg-9">
                    <input name="NumberOfStudents" class="form-control" id="NumberOfStudents" placeholder="Number of Students">
                  </div>
                </div>

                <div class="form-group">
                  <label for="Location_Name" class="col-lg-3 control-label">Location Name</label>
                  <div class="col-lg-9">
                    <input name="Location_Name" class="form-control" id="Location_Name" placeholder="Location Name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="Latitude" class="col-lg-3 control-label">Latitude</label>
                  <div class="col-lg-9">
                    <input name="Latitude" class="form-control" id="Latitude" placeholder="Longitude">
                  </div>
                </div>

                <div class="form-group">
                    <label for="Latitude" class="col-lg-3 control-label">Longitude</label>
                  <div class="col-lg-9">
                    <input name="Longitude" class="form-control" id="Longitude" placeholder="Longitude">
                  </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-9">
                    <input name="Description" class="form-control" id="Description" placeholder="Description">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>

              </form>
            </div>



      <div class="footer">
        <p>EdTech Hackathon 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
{% endautoescape %}
