<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>EdTech</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <h3 class="text-muted">TutorPledge</h3>
      </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Application form</h3>
            </div>
            <div class="panel-body">
              <form class="form-horizontal" role="form" action="/api/students" method="post">

                <div class="form-group">
                  <label for="Name" class="col-lg-3 control-label">Name</label>
                  <div class="col-lg-9">
                    <input name="Name" class="form-control" id="Name" placeholder="Name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="SchoolName" class="col-lg-3 control-label">Name of School</label>
                  <div class="col-lg-9">
                    <input name="SchoolName" class="form-control" id="SchoolName" placeholder="Name of School">
                  </div>
                </div>

                <div class="form-group">
                  <label for="NumberOfStudents" class="col-lg-3 control-label">Number of Students</label>
                  <div class="col-lg-9">
                    <input name="NumberOfStudents" class="form-control" id="NumberOfStudents" placeholder="Number of Students">
                  </div>
                </div>

                <div class="form-group">
                  <label for="Location_Name" class="col-lg-3 control-label">Location Name</label>
                  <div class="col-lg-9">
                    <input name="Location_Name" class="form-control" id="Location_Name" placeholder="Location Name">
                  </div>
                </div>

                <div class="form-group">
                  <label for="Latitude" class="col-lg-3 control-label">Latitude</label>
                  <div class="col-lg-9">
                    <input name="Latitude" class="form-control" id="Latitude" placeholder="Longitude">
                  </div>
                </div>

                <div class="form-group">
                    <label for="Latitude" class="col-lg-3 control-label">Longitude</label>
                  <div class="col-lg-9">
                    <input name="Longitude" class="form-control" id="Longitude" placeholder="Longitude">
                  </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-lg-3 control-label">Description</label>
                  <div class="col-lg-9">
                    <input name="Description" class="form-control" id="Description" placeholder="Description">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-lg-offset-3 col-lg-9">
                    <button type="submit" class="btn btn-default">Submit</button>
                  </div>
                </div>

              </form>
            </div>
          </div>

      <div class="footer">
        <p>&copy; EdTech 2013</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
